[submodule "site/themes/ananke"]
	path = site/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "site/themes/terminal"]
	path = site/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "site/themes/gallery"]
	path = site/themes/gallery
	url = https://github.com/nicokaiser/hugo-theme-gallery.git
